@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #111;
}
.first{
    color: white;
    margin-left: 20px;
}

.fullposters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.fullposters::-webkit-scrollbar{
    display: none;
}


.poster1{
    /* width: 100%; */
    object-fit: contain;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 450ms;
    border: 1px solid rgb(97, 94, 94);
}
.poster1:hover{
    transform: scale(1.10);
}
.poster:hover{
    transform: scale(1.10);
}

.largePoster{

    width: 100%;
    object-fit: cover;
    margin-left: 40px;
    
}
.banner{
    background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.884), rgba(0, 0, 0, 0.466)),
    url('./images/bannaerImage.jpg');
    background-size: cover;
    background-position:  center top;
    object-fit: contain;
    height: 90vh;
    padding-top: 100px;
    
    
}

.bannerDetails{
    
    color: white;

}
.bannerTitle{
    margin-top: 290px;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    padding-bottom: 30px;
    cursor: pointer;
    word-spacing: 30px;
    -webkit-text-stroke: 1px rgba(255, 0, 0, 0.747);

}
/* search box */
.searchbox{
    margin-top: -30px;
    padding-left: 20px;
}
.btn:hover{
    background-color: rgb(0, 0, 0);
    outline: 0;
    
}

.navLogo{
    cursor: pointer;
    justify-content: center;
    text-align: center;
    
    margin-top: -60px;
    /* object-fit: contain; */
    
}

.nav{
position: fixed;
z-index: 1;
top: 0;
width: 100%;
display: flex;
height: 60px;
justify-content: center;
transition-timing-function: ease-in;
transition: all 0.5s;


}
.navScroll{
    background-color: rgba(0, 0, 0, 0.959);
    border-bottom:1px solid white;
}


@media ((max-width:700px)){
    .banner{
        height: 70vh;
    }
    .bannerTitle{
        margin-top: 100px;
        text-align: center;
        font-size: 30px;
        font-weight: 400;
        padding-bottom: 30px;
        cursor: pointer;
        word-spacing: 10px;
        -webkit-text-stroke: 1px rgba(255, 0, 0, 0.747);
    
    }
    
    .searchbox input{
       font-size: 10px;
       height: 20px;
    }
    .searchbox button{
        font-size: 10px;
        height: 20px;
        width: 100px;
        padding:  0;
     }
    
    
}

@media ((max-width:600px)){
    .banner{
        height: 70vh;
    }
    .bannerTitle{
        margin-top: 200px;
 
    }
    

}


@media ((max-width:450px)){
    .banner{
        height: 50vh;
    }
    .bannerTitle{
        margin-top: 200px;
 
    }
    

}

@media ((max-width:650px)){
    .banner{
        height: 70vh;
    }
    .bannerTitle{
        margin-top: 200px;
 
    }
    

}


